body {
  background-color: gray;
  font-family: system-ui, -apple-system, SF Pro Text, serif;
  width: 375px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.status-bar {
  display: block;
  font-size: 12px;
  background: #F8F8F8;
}

.menu {
  background-color: #F8F8F8;
  height: 95px;
}

.arrow {
  display: inline-block;
  color: #F8F8F8;
  padding-left: 3%;
  padding-top: 3%;
}

.location {
  display: inline-block;
  text-align: center;
  font-family: system-ui, SF Pro Text, sans-serif;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: .005em;
  color: #000000;
  padding-left: 16%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.search-bar {
  display: inline-block;
  background-color: F8F8F8;
  position: absolute;
  width: 75%;
  padding: 0 1% 0 1%;
  margin: 0;
}

#search_light{
    position: absolute;
}

#search_light input[type="text"] {
    background: url(../images/searchicon2.png) no-repeat 10px 9px #EBEBEC;
    font: bold 17px system-ui, SF Pro Text,Sans-serif;
    color: #000000;
    width: 306px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 10px;
    /*-moz-border-radius: 10px;*/
    border-radius: 10px;
    /*text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);*/
    /*-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;*/
    /*-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;*/
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search_light input[type="text"]:focus {
    width: 306px;
    }


.map {
  background-color: white;
  width: 100%;
  height: 293px;
}

.text {
  display: inline-block;
  text-align: center;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.002em;
  float: center;
}



/* Bus List */

.bus{
  position: relative;
  width: 100%;
  height: 60px;
}

.bus::after{
  content: '';
  border-bottom: 1px #dcd8d8 solid;
  width: 102%;
  height: 60px;
  position: absolute;
  left: 0;
  padding-top: 5px;
}

.bus-list {
  height: 205px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
}

.bus-bg {
  min-height: 55px;
  background-color: white;
  box-sizing: border-box;
  padding: 5px 7px;
}

.bus-bg:hover {
  background: #DADADA;
}

ul, li {
  list-style-type: none;
}

/* Bus Info */

.businfo {
  color: #000000;
  /* display: inline-block; */
  float: left;
  width: 70%;

}

.businfo h1 {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  /*line-height: 30px;*/
  margin-top: 15px;
  padding-left: 10px;
}

.businfo h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  padding-left: 10px;
}

/* Bus Arrival - right side */
.busarrival {
  /* position: relative; */
  /* display: inline-block; */
  width: 30%;
  /* padding: 1% 4% 1% 0;
  top: 60%;
  left: 55%;
  transform: translateY(-120%); */
  float: right;
}

.bustime {
  float: right;
  /* margin: 0 auto; */
  /* padding: .5% 0; */
  color: #2b6ba1;
  padding: 20px 20px 20px 0;
  background-image: url('../images/arror-r.png');
  background-repeat: no-repeat;
  background-position: right center;
}

/* green - under 5 mins*/
.busarrival h3 {
  font-size: 16px;
  font-weight: bold;
  color: #4CD964;
  text-align: right;
  line-height: 20px;
}
/* yellow - 6-9 mins*/
.busarrival h4 {
  font-size: 16px;
  font-weight: bold;
  color: #FFCC00;
  text-align: right;
  line-height: 20px;
}

/* red - 10+ mins*/
.busarrival h5 {
  font-size: 16px;
  font-weight: bold;
  color: #FF3B30;
  text-align: right;
  line-height: 20px;
}

/* gray - out of service */
.busarrival h6 {
  font-size: 11px;
  font-weight: bold;
  color: #626262;
  text-align: right;
}

/* bus frequency note */
.frequency {
  float: right;
  margin-top:
  color: #8d8d8d;
}

.frequency h1 {
  font-size: 11px;
  color: #626262;
  font-weight: 300;
}

/* Nav Bar */
.icon-bar {
  width: 100%; /* Full-width */
  height: 50px;
  background-color: #626262; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

/*.navbar {
  display: inline-block;
  position: no-repeat fixed;
  width: 100%;
  margin: 0px;
  background-color: #626262;
  padding: 0px;
}*/

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 4px 0;
  text-decoration: none;
}

.icon-bar a span {
  display: block;
  margin-top: 1px;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  font-variant: small-caps;
  text-decoration: none;
}

.activelink {
  color: #00B1FF;
}

.whitelink {
  color: #FFFFFF;
}
